extends layout 
block content_here
	div#qajs

block scripts
	script(src="js/qadata.js",type="text/javascript")
	script(src="js/qajs.js",type="text/javascript")
	:coffee(bare="true")
		myQAjs = new QAjs()
		$(document).ready ->
			myQAjs.init $("#qajs"),QAdata